* {
    box-sizing: border-box;
}

.controls-wrapper {
    width: 50%;
    text-align: center;
    margin-top: 50px;
    font-size: 2.5em;
    font-family: Arial;
}

.mask {
    width: 50%;
    height: auto;
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.wrapper {
    width: 70.7%;
    height: 70.7%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: flex-start;
    position: absolute;
    transform: rotate(-45deg);
    top: 14.65%;
    left: 14.65%;
}

.node {
    border: 2px solid white;
    height: calc(20% - 2px);
    width: calc(20% - 2px);
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: .6em;
    text-transform: uppercase;
    font-family: Arial;
    opacity: 0.6;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
    transition: .3s all;
    font-weight: bold;
}

.node:hover {
    cursor: pointer;
    opacity: 1;
}

span {
    transform: rotate(45deg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 1;
}

.darkpurple {
    background-color: #40006B;
    color: white;
}

.lightpurple {
    background-color: #973EE0;
    color: white;
}

.darkgrey {
    background-color: #4F4F4F;
    color: white;
}

.lightgrey {
    background-color: #B5B5B5;
    color: black;
}